@import "tailwindcss";

@font-face {
	font-family: "ClashDisplayVariable";
	src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2");
	font-weight: 200 700;
	font-style: normal;
}

@font-face {
	font-family: "ClashGroteskVariable";
	src: url("/fonts/ClashGrotesk-Variable.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

:root {
	/* green: #082e33 petrol: #374151 */
	--bg-color: #082e33;
	--text-color: #ffffff;
	--text-glow: 0 0 3px var(--text-color);
	--item-bg-color: var(--text-color);
	--item-text-color: var(--bg-color);
}

body {
	font-family: "ClashDisplayVariable", sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
	text-shadow: var(--text-glow);
	transition:
		background-color 0.3s,
		color 0.3s;
}

button,
input,
select,
textarea {
	text-shadow: inherit;
}

/* rainbow play progress */
@theme {
	--animate-scroll-left: scroll-left 20s linear infinite;
	--animate-spin-vinyl: spin-vinyl 4s linear infinite;
	--animate-rainbow: rainbow 12s ease infinite;

	@keyframes scroll-left {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}

	@keyframes spin-vinyl {
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes rainbow {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}

/* kirby content */
@layer components {
	.kirby-content h1 {
		@apply mt-12 mb-6 text-2xl font-bold md:mt-16 md:mb-8 md:text-4xl;
		font-weight: 700;
	}

	.kirby-content h2 {
		@apply mt-10 mb-5 text-xl font-bold md:mt-12 md:mb-6 md:text-2xl;
		font-weight: 700;
	}

	.kirby-content h3 {
		@apply mt-8 mb-4 text-lg font-medium md:mt-10 md:mb-4 md:text-xl;
		font-weight: 500;
	}

	.kirby-content h4 {
		@apply mt-6 mb-6 text-xl font-bold tracking-wide uppercase md:mt-8 md:mb-8 md:text-2xl;
		font-weight: 700;
	}

	.kirby-content p {
		@apply mt-4 mb-8 min-h-[1em];
		white-space: pre-line;
	}

	.kirby-content figure {
		@apply my-6;
	}

	.kirby-content img {
		@apply w-full cursor-pointer md:w-1/2 lg:w-1/3;
	}

	.kirby-content a {
		@apply break-all underline hover:opacity-80;
	}

	.kirby-content {
		text-shadow: none;
	}

	.kirby-content > :first-child {
		margin-top: 0;
	}

	/* SLIDE GALLERY */
	.kirby-content .gallery-wrapper {
		@apply relative w-full md:w-1/2 lg:w-1/3;
	}

	/* TRACK */
	.kirby-content .gallery-track {
		@apply flex snap-x snap-mandatory overflow-x-auto scroll-smooth;
		scrollbar-width: none;
	}
	.kirby-content .gallery-track::-webkit-scrollbar {
		display: none;
	}

	/* SLIDE */
	.kirby-content .gallery-slide {
		@apply w-full flex-none snap-center;
	}

	/* IMAGE */
	.kirby-content .gallery-wrapper img {
		@apply block h-auto w-full object-cover;
	}

	/* BUTTON GRID CONTAINER */
	.kirby-content .gallery-btn.grid {
		@apply grid grid-cols-2;
	}

	/* GALLERY BUTTONS (individual) */
	.kirby-content button.gallery-btn {
		@apply flex h-full cursor-pointer items-center
           justify-center text-4xl text-[var(--text-color)]
           transition-colors duration-100 ease-in-out border-2 border-[var(--text-color)];
	}

	/* Button Hover State */
	.kirby-content button.gallery-btn:hover {
		@apply bg-[var(--text-color)] text-[var(--bg-color)];
	}

	/* Positioning
	.kirby-content .gallery-btn.prev {
		@apply;
	}
	.kirby-content .gallery-btn.next {
		@apply;
	} */
}
