@import "tailwindcss";

@font-face {
	font-family: "ClashDisplayVariable";
	src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2");
	font-weight: 200 700;
	font-style: normal;
}

@font-face {
	font-family: "ClashGroteskVariable";
	src: url("/fonts/ClashGrotesk-Variable.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

:root {
	--bg-color: #082e33;
	--text-color: #ffffff;
	--text-glow: 0 0 3px var(--text-color);
	/* green: #082e33 petrol: #374151 */
	--item-bg-color: var(--text-color);
	--item-text-color: var(--bg-color);
}

body {
	font-family: "ClashDisplayVariable", sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
	text-shadow: var(--text-glow);
	transition:
		background-color 0.3s,
		color 0.3s;
}

button,
input,
select,
textarea {
	text-shadow: inherit;
}

@theme {
	--animate-scroll-left: scroll-left 20s linear infinite;
	--animate-spin-vinyl: spin-vinyl 4s linear infinite;
	--animate-rainbow: rainbow 12s ease infinite;

	@keyframes scroll-left {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}

	@keyframes spin-vinyl {
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes rainbow {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}

@layer components {
	.kirby-content h1 {
		@apply mt-12 mb-6 text-2xl font-bold md:mt-16 md:mb-8 md:text-4xl;
		font-weight: 700;
	}

	.kirby-content h2 {
		@apply mt-10 mb-5 text-xl font-bold md:mt-12 md:mb-6 md:text-2xl;
		font-weight: 700;
	}

	.kirby-content h3 {
		@apply mt-8 mb-4 text-lg font-medium md:mt-10 md:mb-4 md:text-xl;
		font-weight: 500;
	}

	.kirby-content h4 {
		@apply mt-6 mb-6 text-xl font-bold tracking-wide uppercase md:mt-8 md:mb-8 md:text-2xl;
		font-weight: 700;
	}

	.kirby-content p {
		@apply mt-4 mb-8 min-h-[1em];
		white-space: pre-line;
	}

	.kirby-content figure {
		@apply my-6;
	}

	.kirby-content figure ul {
		@apply my-6 grid grid-cols-2 gap-4 md:grid-cols-3;
	}

	.kirby-content figure ul li {
		@apply list-none;
	}

	.kirby-content img {
		@apply w-full;
	}

	.kirby-content figure ul li img {
		@apply mt-4 mb-4 h-full w-full object-cover;
	}

	/* gallery block specific styling */
	.kirby-content figure ul li figure {
		@apply flex flex-col; /* stack image and caption vertically */
	}

	.kirby-content figure ul li figure img {
		@apply mb-2; /* add space below image */
	}

	.kirby-content figure ul li figure figcaption {
		@apply text-sm text-gray-600; /* basic caption style */
	}

	.desktop-expanded-content > figure:first-of-type {
		display: none;
	}

	.kirby-content a {
		@apply break-all underline hover:opacity-80;
	}
}
