@import "tailwindcss";

body {
	font-family: 'Roboto', sans-serif;
}

@theme {
	--animate-scroll-left: scroll-left 20s linear infinite;
	@keyframes scroll-left {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}
